{% load static from staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.1.0.min.js"></script>
		<script type="text/javascript" src="{% static "js/jquery.jqplot.min.js" %}"></script>
		<script type="text/javascript" src="/static/js/jqplot/jqplot.canvasTextRenderer.min.js"></script>
		<script type="text/javascript" src="/static/js/jqplot/jqplot.canvasAxisLabelRenderer.min.js"></script>
		<script type="text/javascript" src="/static/js/jqplot/jqplot.dateAxisRenderer.min.js"></script>
		<title>Energapp Weather API</title>
	</head>
	<body>
		<script>
			function checkConditionResult(wr_id){
				var url = "{% url 'weather.views.get_conditions_result' 0  %}";
				var url = url.replace(/(conditions\/result)\/(\d+)\//, "$1/"+wr_id+"/");
				$.getJSON(url, function(data){
					console.log(data)
					if (data.result){
						data = JSON.parse(data.result);
						row = [];
						for (i in data){
							var date = data[i].date;
							var temp = data[i].temp;
							row.push(new Array(date, temp));
						}
						renderChart(row);
					} else {
						if (data.sleep == null){
							var sleep = 10;
						} else {
							var sleep = parseInt(data.sleep);
						}
						console.log(sleep*1000);
						setTimeout(function(){ checkConditionResult(wr_id) }, sleep * 1000);
					}
				})
				return false;
			}
		
			function renderChart(line){
				
				var plot2 = $.jqplot('chart1', [line], {
					title : "Temperatuur",
					axes : {
						xaxis : {
							renderer : $.jqplot.DateAxisRenderer,
							tickOptions : {
								formatString : '%b %Y'
							},
							min : '2012-10-01',
							tickInterval : '1 month',
							autoscale : true,
						},
						yaxis : {
							autoscale : true,
							label: "Temperature Celsius",
							labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						},
						y2axis : {
							autoscale : true,
							tickOptions : {
								showGridline : false
							}
						},
					},
					series : [{
						showMarker: false,
						rendererOptions: {
							smooth: true,
							
						}

					}, {
						yaxis : 'y2axis',
						showMarker: false,
						rendererOptions: {
							smooth: true,
							
						}
					}]
				});
			}
		
		
			$(document).ready(function(){
				$("#allstations_try").click(function(){
					if (navigator.geolocation){
						navigator.geolocation.getCurrentPosition(function(position){
							var lonlat = position.coords.longitude + "," + position.coords.latitude;
							var radius = $("#allstations_radius").val();
							var url = "{% url 'weather.views.get_all_nearby_stations' '-1,-1' '-1' %}".replace(/coords\/([\d\,\.-]+)\/distance\/([\d-]+)/g, "coords/"+lonlat+"/distance/"+radius);
							console.log(url);
							$.getJSON(url, function(data){
								var options = "";
								for (i in data){
									console.log(data[i]);
									var name = data[i].name + " (" + data[i].distance + "km)";
									var wuid = data[i].wuid;
									options += "<option val='"+wuid+"'>"+name+"</option>";
								}
								$("#allstations_select").html(options);
							})
						})
					}
				});
				$("#station_try").click(function(){
					if (navigator.geolocation){
						navigator.geolocation.getCurrentPosition(function(position){
							var lonlat = position.coords.longitude + "," + position.coords.latitude;
							var url = "{% url 'weather.views.get_closest_weather_station' '0,0' %}".replace("0,0", lonlat);
							$.getJSON(url, function(data){
								var coords = data.coordinates;
								var mycoords = lonlat; 
								var text = "<strong>Your coordinates:</strong> "+mycoords+"<br/>"
										+ "<strong>Weather station coordinates:</strong> "+coords+"<br/>";
								$("#station_result").html(text);
								
								var coords = data.coordinates.split(",")
								var lat = parseFloat(coords[1]);
								var lon = parseFloat(coords[0]);
								console.log(lat);
								console.log(lon);
								
								var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
    							var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
   								var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);
								
								map = new OpenLayers.Map("station_map");
    							map.addLayer(new OpenLayers.Layer.OSM());
    							map.setCenter(position, 10);
    							
    							var markers = new OpenLayers.Layer.Markers( "Markers" );
    							map.addLayer(markers);
    							markers.addMarker(new OpenLayers.Marker(position));
								
							});
						})
					}
				});
				
				$("#conditions_get").click(function(){
					var date1 = $("#conditions_begin").val();
					var date2 = $("#conditions_end").val()
					var url = "{% url 'weather.views.get_conditions_by_weather_station' wuid='EHDL' begin='1970-01-01' end='1970-01-02' %}";
					var url = url.replace(/(conditions\/wuid)\/([\w:]+)\/([\d-]+)\/([\d-]+)\//, "$1/$2/"+date1+"/"+date2+"/")
					
					$.getJSON(url, function(data){
						var wr_id = data.wr_id;
						
						setTimeout(function(){ checkConditionResult(wr_id); }, 5000);
						
						
					});
				})
			})
		</script>
		<h1>
			Energapp Server API
		</h1>
		<hr/>
		<div id="station_block">
			<h3>Closest weather station</h4>
			<div>
				Get's the closest weather station you entered position. e.g. weather/station/coords/lon,lat/.
			</div>
			<div>
				<h4>Try it:</h4>
				<button id="station_try">
					Get!
				</button>
				<div id="station_result"></div>
				<div id="station_map" style="width: 20%; height: 200px"></div>
			</div>
		</div>
		<hr/>
		<div id="allstations_block">
			<h3>All weather stations in Xkm radius</h3>
			<div>
				Populates select box with all weather stations in a Xkm radius. e.g. weather/station/coords/lon,lat/distance/100/.
				If no station is found in the distance, it will return the closest station.
			</div>
			<div>
				<h4>Try it:</h4>
				Radius (km):<input type="text" value="100" id="allstations_radius"/><button id="allstations_try">Load!</button><br/>
				<select id="allstations_select"></select>
				
			</div>
		</div>
		<hr/>
		<div id="conditions_block">
			<h3>Gets conditions for a time span and plots in in a chart</h3>
			<div>
				From:<input id="conditions_begin" type="text" value="2012-11-01"/> To:<input id="conditions_end" type="text" value="2012-11-30"/><button id="conditions_get">Get!</button><br/>
				<div id="chart1" style="width: 60%; height:400px;"></div>
			</div>
		</div>
	</body>
</html>